body{
    body {
        background-color: #f8f9fa;
        font-family: 'Poppins', sans-serif !important;
    }
    .sidebar {
        height: 100vh;
        background-color: #00211A;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        transition: transform 0.3s ease-in-out;
    }
    
    .tituloAdmin{
        font-family: 'Averia Serif Libre', serif !important;
        padding: 5px;
        color: #f8f9fa
     
    }
    
    .sidebar a {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    .sidebar a:hover {
        color: #9c8888;
        font-weight: 700;
        border-radius: 10px;
    }
    .content {
        margin-left: 250px;
        transition: margin-left 0.3s ease-in-out;
    }
    
    /* Responsive */
    @media (max-width: 768px) {
        .sidebar {
            transform: translateX(-100%);
        }
        .sidebar.show {
            transform: translateX(0);
        }
        .content {
            margin-left: 0;
        }
        .content.shift {
            margin-left: 250px;
        }
    }
    
    .btn-toggle{
        background-color: #00211A;
        color: #f8f9fa;
    }
}


