.sidebar2 {
    z-index: 1000;
position: fixed;
left: 250px;
width: 250px;
height: 100%;
margin-left: -250px;
overflow-y: auto;
    background-color: #ffffff;
    color: #00211A !important;

padding: 20px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.logoSidebar {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logoSidebar img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.logoSidebar h1 {
    font-size: 25px;
    font-weight: bold;
    color: #00211A ;
}

.logoSidebar span {
    color: #FFA500; /* Color para "NATURA" */
}

.menuSidebar, .generalSidebar {
    margin-top: 20px;
}

.menuSidebar p, .generalSidebar p {
    font-size: 16px;
    font-weight: bold;
    color:#062D3E;
    margin-bottom: 10px;
}

.menuSidebar ul, .generalSidebar ul {
    list-style: none;
    padding: 0;
}

.menuSidebar li, .generalSidebar li {
    font-size: 16px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    color:#00211A;
    cursor: pointer;
    transition: color 0.3s ease;
}


.menuSidebar li i, .generalSidebar li i {
    margin-right: 10px;
    color:#062D3E;
    text-decoration:none;
}
.menuSidebar li a, .generalSidebar li a {
   text-decoration: none;
   color:#062D3E;
}

.menuSidebar li:hover, .generalSidebar li:hover {
    color: #FFC107;
}

.menuSidebar li a:hover, .generalSidebar li a:hover {
    color: #FFC107;
}
.menuSidebar .active {
    background-color: #062D3E;
    color: #fff;
    border-radius: 8px;
}

.active a {
    color:#fff;
}

.menuSidebar .active i {
    color: #fff;
}

/* Iconos para el dashboard */
.icon-dashboard::before { content: "📂"; }
.icon-animals::before { content: "🐾"; }
.icon-donations::before { content: "💰"; }
.icon-sponsorship::before { content: "🤝"; }
.icon-tours::before { content: "📅"; }
.icon-events::before { content: "🎉"; }
.icon-settings::before { content: "⚙️"; }
.icon-support::before { content: "🆘"; }
.icon-logout::before { content: "🔌"; }
.icon-users::before { content: "🫂"; }


.footerAdmin {
background-color: #062D3E;
color: white;
padding: 40px 20px;
position: static;
margin-top: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Paytone One', sans-serif;
font-weight: 100;
}


      /* Estilos para el menú vertical con fondo gris claro */
