body {
    font-family: 'Poppins', sans-serif !important;
    padding: 0px;
}

.ubicacionNavbar{
    color: #6C757D;
    padding: 5px;
}

.navbar2 {
    justify-content: space-between !important;
}

.tituloNav {
    font-family: 'Averia Serif Libre', serif !important;
    color: #002603;
    font-size: 30px;
}

.tituloHP {
    font-family: 'Averia Serif Libre', serif !important;
    color: #002603;
    font-size: 50px;

}
.imagenHP {
   width: 100%;
}

.textoHP {
    justify-content: baseline !important;
    align-items: center;
}

.productosHP {
    font-family: 'Averia Serif Libre', serif !important;
    color: #5F4142;
    

}

.opciones{
    background-color: #002603; 
}